<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Sản Phẩm</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="search-container">
        <h1>{{title}}</h1>
        <form action="/" method="get">
            <input type="text" name="search" placeholder="Tìm kiếm sản phẩm" value="{{searchQuery}}"/>
            <input type="submit" value="Tìm kiếm"/>
        </form>
    </div>

    <div class="search-container">
        <a href="/add">Thêm</a>
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Loại</th>
            <th>Thao tác</th>
        </tr>
        {{#each list}}
        <tr>
            <td>{{_id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{category.name}}</td>
            <td>
                <a href="/edit/{{_id}}">Sửa</a> | 
                <a href="/delete/{{_id}}">Xóa</a>
            </td>
        </tr>
        {{/each}}
    </table>
</body>
</html>
